* {
	padding: 0;
	margin: 0;
}

body{
	background: #4b5658;
	padding-top: 70px;
	color: black;
}

h1,h2,h4,p {
	text-align: center;
}

h2 {
	font-size: 50px;
}

ul.faq {
	width: 23%;
	margin: 0 auto;
	list-style: none;
}

p.description {
	font-size: 20px;
	margin: 0 auto; 
	width: 400px;
}

.centered {
	margin: 0 auto;
}

.faq {
	display: none;
 }

.explore-button:hover {
	color: white;
}

.navbar-inverse{
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}
