* {
	padding: 0;
	margin: 0;
}

body{
  position: relative;
	background: #4b5658;
	padding-top: 70px;
	color: black;
}

h1,h2,h4,p {
	text-align: center;
}

h2 {
	font-size: 50px;
}

ul.faq {
	width: 23%;
	margin: 0 auto;
	list-style: none;
}

p.description {
	font-size: 20px;
	margin: 0 auto; 
	width: 400px;
}

/*FOR THE LOGIN AND SIGNUP PAGES*/
.pop-up{
  color: white;
  position: relative;
  z-index: 9999; 
  top: -400px; 
  width: 800px; 
  margin: 0 auto; 
  text-align: center;
}

#pop-up .container{
  background: #4b5658; 
  border-radius: 10px;
  padding: 30px; 
  position: absolute; 
  top:  -400px; 
  width: 100%; 
  box-sizing: border-box;
  display: hidden;
}

.pop-up input{
  padding: 10px;
  border: 0;
  border: 1px solid #333;
  border-radius: 10px;
  font-size: 18px;
}

.drop-down-form input[type="text"]{
  display: block;
  margin: 0 auto;
  width: 50%;
}
form h1{
	margin-bottom: 30px;
}

form button{
	margin-top: 15px; 
}

.cross{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 11px;
}

.pop-up{
  top: -400px;
  filter: blur(0px);
  animation: drop 0.5s ease forwards;
}

.animate{
  top: -800px;
  animation: rise 2s ease forwards;
}



@keyframes drop{
  0%{ opacity: 0; }
  70%{ transform: translateY(700px); }
  100%{ transform: translateY(650px); opacity: 1; }
}

@keyframes rise{
	0%{ transform: translateY(700px); opacity: 1; }
	30%{ opacity: 0.5; }
	100%{ transform: translateY(-400px); opacity: 0; }
}

/*DONE*/

.centered {
	margin: 0 auto;
}

.faq {
	display: none;
 }

.explore-button:hover {
	color: white;
}

.navbar-inverse{
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}
